*{
    padding: 0;
    margin: 0;
}

$font: "ALK Tommaso", sans-serif;
$backgroundColor: rgb(0, 153, 255);
@mixin mainbox {

    box-shadow: 0px 0px 15px 5px;
    border-radius: 20px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    .mainbox{   
        @include mainbox;
        width: 25rem;
        height: 100vh;
        background: linear-gradient(rgba(0,0,0,1) 10%, $backgroundColor 50%, rgba(0,0,0,1) 100%);
        background-size: contain;
        background-repeat: repeat;
        transition: 1s;
        .header{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            border-radius: 20px;
            width: 25rem;
            height: 10rem;
            background: radial-gradient(circle, $backgroundColor 0%, rgba(0,0,0,1) 100%);
            .title{
                width: 13rem;
            }
            .score{
                width: 7rem;
            }
            h5{
                position: absolute;
                font-size: 2rem;
                top: 6.5rem;
                color: white;
                text-shadow: 1px 0px 10px rgb(0, 0, 0);
            }
            h4{
                color: white;
                position: absolute;
                margin-right: 20rem
            }
        }
        .box{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            height: 70vh;
            .testbox{
                display: flex;
                text-align: center;
                align-items: center;
                width: 23rem;
                height: auto;
                padding: 1rem;
                border-radius: 1rem;
                background: rgb(255, 255, 255);
                color: black;
                box-shadow: 0px 0px 30px 10px rgb(0, 0, 0);
                transition: 1s;
                p{
                    font-size: 1rem;
                    font-weight: bold;
                }
            }
            .answerbuttons{
                display: none;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
                width: 25rem;
                height: 10rem;
                .answerbut{
                    border: solid 0px;
                    border-radius: 0.5rem;
                    width: 12rem;
                    height: 4rem;
                    min-height: 2.5rem;
                    padding: 0.5rem;
                    color: rgb(0, 0, 0);
                    box-shadow: 0px 0px 10px 5px rgb(0, 0, 0);
                    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, $backgroundColor 50%, rgb(0, 0, 0) 100%);
                }
            }
            .start{
                border: solid 0px;
                width: 10rem;
                height: 10rem;
                border-radius: 100px;
                background: radial-gradient(circle, $backgroundColor -50%, rgba(0,0,0,1) 80%);
                font-family: $font;
                font-size: 2.5rem;
                color: white;
                transition: 0.5s;
                outline: none;
                transition: 1s;
            }
        }
    }
    .lastbox{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        background: radial-gradient(circle, $backgroundColor -100%, rgba(0,0,0,1) 100%);
        background-repeat: no-repeat;
        background-size: cover;
        transition: 1s;
        display: none;
        .winimg{
            width: 15rem;
        }
        .text{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 13rem;
            h2{
                font-family: $font;
                text-align: center;
                color: white;
            }
            h1{
                font-family: $font;
                color: white;
            }
        }
        .againbutton{
            border: solid 0;
            width: 8rem;
            height: 3rem;
            font-size: 1.5rem;
            color: white;
            border-radius: 5rem;
            background: radial-gradient(circle, $backgroundColor -50%, rgba(0,0,0,1) 90%);;
            font-family: $font;
        }
    }
}